---
layout: default
---

.page-header
  %h1 Welcome To Lakeside Machine

:markdown
  What should go here? A description of the business, and maybe a generic picture 
  of some machined parts right here -->

