---
layout: default
---

.page-header
  %h1 Welcome To Lakeside Machine

:markdown
  We're a full-service machine shop located in Western North Carolina. We do one-offs, 
  bulk orders, and [products](./products/).
