---
layout: default
---

.page-header
  %h1 Products
  :markdown
    We occasionally build and sell custom products. Below is what we currently
    have in stock.


%h3 M92 Muzzle Brake

%a{:href=>'../img/m92-muzzle-brake-2.jpg', :target=>'_blank'}
  %img{:alt=>"muzzle break", :src=>"../img/m92-muzzle-brake-2.jpg",:style=>"width:250px;float:right;"}
:markdown
  This is an M92 flash hider or muzzle brake. It has 26MM x 1.5 MM left hand threads 
  with a black oxide finish. 

  Made in our shop, and therefore in the USA.
  
  *Click on the image to the right to see a larger version.* 

  Price: **$25.00** + $6.50 for shipping (flat fee, no matter how many you order)

  We accepted Paypal or USPS money order. 
  If using money order please [contact us](mailto:sales@lsmachine.com).

:plain
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHXwYJKoZIhvcNAQcEoIIHUDCCB0wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAt+IpG9sYZCS0HMHMmre7RMrNESrCz+wCg0o3B8fvj+2rAjndjgAJ4cELpM0kBL6quf9I0zXUvVivru4QRQiebUem4b9jpiuo/LLJT4aw+gjrIfO0yJ7HDQiDSN/snrkQ3eXYpirtcblSkifg6oAxIc9U3NbpRtu/eIetMBBJd1jELMAkGBSsOAwIaBQAwgdwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIeKCJX2Y77GKAgbgRTICww12aUR3VeUNfSfBGmm3EZwzSOd/6snSYPMvFTMBB6+ttT8/5s/IFAGiBf80WT74cS0So4fSyXanYSiUK5677OfSRK4dO31h7f0njkIxnkywPs+iBESlMaowRYhKK5/i8jmzbpcg5lA9bRz4C8LAYkxPuwVhEsJ0+UNX+WpNix6pUxvJisYepG4lFCJtp04M05otXBC6R7R7fkhR2SaR+/4mvXemDxb8TapsUbK+vYM3pqbQeoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTIxMDI0MjIyNzE4WjAjBgkqhkiG9w0BCQQxFgQUCe8LDwvRYJyMBbdDep7STnHuzTkwDQYJKoZIhvcNAQEBBQAEgYBpvUURRDWqDAo1V2XKYsk939feQ/9wwXa5AwIT3DfUiNOUlscv1kZzfi/kabmk1OewNyykGF7Om0dPxPJYq4+UDZd4CC6zW6WyQL4CzB4pOj9IbleEdzaCyk0FaCKZnJ5Mv/dtpkfiwi1WOfjjHnifrcLIiV1I799+r1dQ9DHggg==-----END PKCS7-----">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" style="width:171px">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  <input type="hidden" name="undefined_quantity" value="1">
  </form>
