---
layout: default
---

.page-header
  %h1 Our Shop

:markdown
  This is the list I pulled off of the current site, and is probably out of date.
  We should list all the machines LSM has, and have pictures of the 
  presentable ones.

  * Bridgeport milling machine
  * 20 x 80 engine lathe with 4" thru hole
  * Cincinatti #3 milling machine
  * Mazak Quick Turn 15 10" swing 19" between centers (CNC lathe)
  * Mazak VQC 15/40 (CNC milling machine)
  * Mazak VQC 20/40B (CNC milling machine)

