$blue: #33f;
$navbarBackground: $blue;
$navbarBackgroundHighlight: $blue - #111;

@import "bootstrap";

.navbar .nav > li > a {
  color: #ddd;
}

.page-header > p {
  margin-top: 10px;
}

.page-header p {
  font-style: italic;
}

p.address {
  font-weight: bold;
}

@import "bootstrap-responsive";
