---
layout: base
---

.row
  .span9
    ~ content
  .span3
    %h3 Contact Us
    :markdown
      Feel free to give us a call at **828-659-2459** or

    %p  
      %a.btn{ :href=>'mailto:info@lsmachine.com' } Send us an email      

    :markdown
      Our mailing address is:

    %p.address
      Lakeside Machine LLC
      %br
      179 Uptons Landing Road
      %br
      Marion, NC 28752

    %p  
      %a.btn{ :href=>'http://maps.google.com/maps?q=179+Uptons+Landing+Road+marion+nc&hl=en&sll=37.0625,-95.677068&sspn=55.806079,98.876953&hnear=179+Uptons+Landing+Rd,+Marion,+North+Carolina+28752&t=m&z=17' } Get Directions      

    :markdown
      You can fax us at: 828-652-6389

